html,body {
  font-size: 12px;
  font-family: monospace, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-block-start: 0.8rem;
  margin-block-end: 0.8rem;
}
h2 {
  font-size: 1.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
h3 {
  font-size: 1.2rem;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

pre {
  font-size: 0.9rem;
  font-family: 'Fira Code', monospace, sans-serif;
  margin: 1rem 0;
}